# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/.pnp
proj/__pycache__
/__pycache__/*
/__pycache__/
/__pycache__
.pnp.js
__pycache__/*

__pycache__

# testing
/coverage

# production
/build

# misc
/venv
.env
*.wav
