{% extends 'layout.html'%}
{% block contenta %}
<div class="contenta">
<div class="container" >
<div class="card text-center">
    <div class="card-body" >
        <br><br><br>
      <h2 class="text">Divorce Prediction</h2>
      <br>
      <br><br>
      <a href="http://127.0.0.1:5000/" class="btn btn-primary">Analyse</a>
    </div>
  </div>
</div>
</div>
<div  align="center" class="im">
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<marquee style="font-size:18px;background-color:black;color:silver;font-weight:bold;"direction="alternate right" scrolldelay=10>Lets get to know you better!</marquee>

<!--<script src="{{url_for('static',filename='main.js')}}"></script>-->
{% endblock contenta %}
{%block contentb%} 
{%endblock contentb%}