{% extends 'layout.html'%}

{% block contenta %}
<div class="contenta">
<div class="container" >
<div class="card text-center">
    <div class="card-body" >
        <br><br><br>
      <h2 class="text">Divorce Prediction</h2>
      <h4>THIS WEBSITE IS AWSEOME</h4>
      <br>
      <!--<H3 class="text1">Enjoy your time here!</H3>--->
      <br><br>
      <a href="http://127.0.0.1:5000/home" class="btn btn-primary">LETS GO!</a>
    </div>
  </div>
</div>
</div>
<br><br><br><br><br><br><br>
<script src="{{url_for('static',filename='main.js')}}"></script>
{% endblock contenta %}
{%block contentb%} 
{%endblock contentb%}