{% extends 'layout.html'%}
{% block contenta %}
<!--OPTIONS-->
<br>  
<div role="group" class="dropdown btn-group" style="height: 5vh;margin-left:65vh"><select  id="dropdown-variants-Primary" aria-expanded="false" type="button" class="dropdown-toggle btn btn-warning btn-sm" data-bs-toggle="dropdown">
      <option value="To measure time">Free of charge</option>
      <option value="To measure distance">Paid</option>
      <option value="To measure distance">N/A</option>
  </select>
</div>
<div role="group" class="dropdown btn-group" style="height: 5vh;"><select  id="dropdown-variants-Primary" aria-expanded="false" type="button" class="dropdown-toggle btn btn-warning btn-sm" data-bs-toggle="dropdown">
      <option value="To measure time">Wheelchair / No</option>
      <option value="To measure distance">Wheelchair / Yes</option>
      <option value="To measure volume">Wheelchair / Limited</option>
      <option value="To measure distance">N/A</option>
  </select>
</div>
<div role="group" class="dropdown btn-group" style="height: 5vh"><select  id="dropdown-variants-Primary" aria-expanded="false" type="button" class="dropdown-toggle btn btn-warning btn-sm" data-bs-toggle="dropdown">
      <option value="To measure time">Pets / No</option>
      <option value="To measure distance">Pets / Leashed</option>
      <option value="To measure volume">Pets/ Yes</option>
      <option value="To measure distance">N/A</option>
  </select>
</div>

<!--MAP-->
<h2 id="AC"> Therapy World! </h2>
<div class="map-container">
    <div id="map" class="map" style="height:500px">map</div>
    <button id="add-my-pin" class="btn btn-primary">
        <strong>Show My Location!</strong>
    </button>
</div>

<!-- Leaflet js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script src="{{url_for('static', filename='map.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='map.css')}}"/>
{% endblock contenta %}