<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>

{% extends 'layout.html'%}
{% block contenta %}
<!--OPTIONS-->
<br>  
<div style="    display: flex;
    align-items: center;">
<div role="group" class="dropdown btn-group" style="height: 5vh;margin:auto;"><select  id="dropdown-variants-Primary1" aria-expanded="false" type="button" class="dropdown-toggle btn btn-warning btn-sm" data-bs-toggle="dropdown">
      <option value="Free of charge">Service/ Free of charge</option>
      <option value="Paid">Service/ Paid</option>
      <option value="N/A">Service/ N/A</option>
  </select>
</div>
<div role="group" class="dropdown btn-group" style="height: 5vh;margin:auto;"><select  id="dropdown-variants-Primary2" aria-expanded="false" type="button" class="dropdown-toggle btn btn-warning btn-sm" data-bs-toggle="dropdown">
      <option value="No">Wheelchair/ No</option>
      <option value="Yes">Wheelchair/ Yes</option>
      <option value="Limited">Wheelchair/ Limited</option>
      <option value="N/A">Wheelchair/ N/A</option>
  </select>
</div>
<div role="group" class="dropdown btn-group" style="height: 5vh;margin:auto;"><select  id="dropdown-variants-Primary3" aria-expanded="false" type="button" class="dropdown-toggle btn btn-warning btn-sm" data-bs-toggle="dropdown">
      <option value="No">Pets/ No</option>
      <option value="Leashed">Pets/ Leashed</option>
      <option value="Yes">Pets/ Yes</option>
      <option value="N/A">Pets/ N/A</option>
  </select>
</div>
<div role="group" class="dropdown btn-group" style="height: 5vh;margin:auto;"><select  id="dropdown-variants-Primary4" aria-expanded="false" type="button" class="dropdown-toggle btn btn-warning btn-sm" data-bs-toggle="dropdown">
      <option value="Government">Entity/ Government</option>
      <option value="Private">Entity/ Private</option>
      <option value="N/A">Entity/ N/A</option>
  </select>
</div>
<div role="group" class="dropdown btn-group" style="height: 5vh;margin:auto;"><select  id="dropdown-variants-Primary5" aria-expanded="false" type="button" class="dropdown-toggle btn btn-warning btn-sm" data-bs-toggle="dropdown">
      <option value="Easy to access">Location/ Easy to access</option>
      <option value="Difficult to access">Location/ Difficult to access</option>
      <option value="N/A">Location/ N/A</option>
  </select>
</div>
</div>
<br><br>
<dl class="dropdown" style="display:block;margin: auto;width: 272px;"> 
    <dt>
    <a href="#">
      <span class="hida">Select Details</span>    
      <p class="multiSel"></p>  
    </a>
    </dt>
    <dd>
        <div class="mutliSelect">
            <ul>
                <li>
                    <input id="Counselling" type="checkbox" value="Counselling" />
                    <label for="Counselling">Counselling</label>
              </li>
                <li>
                    <input id="Art" type="checkbox" value="Art therapy" />
                    <label for="Art">Art therapy</label></li>
                <li>
                    <input id="Hypnotherapy" type="checkbox" value="Hypnotherapy" />
              <label for="Hypnotherapy">Hypnotherapy</label></li>
              <li>
                    <input id="Depression" type="checkbox" value="Depression" />
                  <label for="Depression">Depression</label>
              </li>
              <li>
                    <input id="CBT" type="checkbox" value="CBT" />
                    <label for="CBT">CBT</label>
              </li>
              <li>
                    <input id="Existential" type="checkbox" value="Existential therapy" />
              <label for="Existential">Existential therapy</label></li>
            </ul>
        </div>
    </dd>
</dl>
<br>

<div style="text-align: center">
<button id="truck-button" class="truck-button" style="display:inline-block;;margin: auto;">
    <span class="default">Start trip!</span>
    <span class="success">
        Sit back and relax
        <svg viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
    </span>
    <div class="truck">
        <div class="wheel"></div>
        <div class="wheel2"></div>
    </div>
</button>
<button id="truck-button1" class="truck-button" style="display:inline-block;;margin: auto;background-color: #ffc107;">
    <span class="default">Find best centers</span>
    <span class="success">
        Sit back and relax
        <svg viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
    </span>
    <div class="truck">
        <div class="wheel"></div>
        <div class="wheel2"></div>
    </div>
</button>
</div>


<!--MAP-->
<h2 id="AC"> Therapy World! </h2>
<div class="map-container">
    <div id="map" class="map" style="height:500px">map</div>
    <button id="add-my-pin" class="btn btn-primary">
        <strong>Show My Location!</strong>
    </button>
</div>
<div id="popup1" class="overlay">
    <div class="popup">
        <h3 id="content1">Welcome to Therapy World</h3>
        <a class="close" href="#">&times;</a>
        <div class="content" id="content2">
            Please select your preferences at the top and click on "Show my location", once the map zooms into your location click on "Start trip!"
        </div>
    </div>
</div>
<div class="box" style="display: none">
    <a class="button" href="#popup1" id="yes1">Let me Pop up</a>
</div>
<br/><br/>

<!-- Leaflet js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script src="{{url_for('static', filename='map.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='map.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='map.scss')}}"/>
<br/><br/><br/><br/>
<!-- <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Developed by</h3>
                      <ul>
                          <li><a href="#">Dr. Vergin Raja Sarobin M</a></li>
                          <li><a href="#">S Vaibhave</a></li>
                          <li><a href="#">S M Satya Sree Narayanan</a></li>
                          <li><a href="#">Balaji M</a></li>
                          <li><a href="#">Aravinda B</a></li>
                          <li><a href="#">Praneeth Sethumadhavan</a></li>
                          <li><a href="#">S Lakshman Rao</a></li>
                          <li><a href="#">Saravanan Kishan</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                        <a href="https://github.com/VaibhaveS/AI_project"><img src="/static/gpic.png" class="gpic" ></img></a>
                  </div>
                  
                  <div class="col-md-6 item text">
                      <h3>Divorce Predictor</h3>
                      <p>This application was developed as a part of the AI course at VIT-Chennai</p>
                      <p>It consists of 4 modules:</p>
                      <ul>
                        <li><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Divorce Prediction</a></li>
                        <li><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Find support Groups</a></li>
                        <li><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Emotional Analysis</a></li>
                        <li><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Find a Psychologist</a></li>
                        
                    </ul>
                    
                  </div>
            
                  <!--<div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>-->
              </div>
              <!--<p class="copyright"><a href="https://github.com/VaibhaveS/AI_project">GitHub Link</a></p>-->
              <!--<div><a href="https://github.com/VaibhaveS/AI_project"><img src="/static/gpic.png" class="gpic" ></img></a></div>-->
          </div>
      </footer> -->
{% endblock contenta %}
