. {
	margin: auto;
}

.contenta .card-body{
    background-color:peachpuff;
    /*border:2px solid gold;*/
    color:black;
    font-weight:bold;
}
.div_form{
    margin:0 auto; 
width:500px;
padding:20px;
background:#f9f9f9;
border:2px solid #333;
}
