@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Open Sans", sans-serif;
}
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 1500px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
    .mobile-hidden {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .profile{
        display: none;
    }
 }

.hidden {
    opacity: 0;
}

body {
    background-color: #f5f5f9;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px;
    background-color: white;
    border-radius: 0.375rem;
    padding: 1.5em;
    font-size: 1.2em;
}
.project-card {
    border: 0;
    padding: 0;
    display: border-box;
    overflow: clip;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    position: relative;
    .gradient {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #fff, rgba(0, 0, 0, 0));
        .info {
            width: 100%;
            padding: 0.7em;
            position: absolute;
            bottom: 0px;
            background: transparent;
        }
    }
    .gradient:hover {
        background: transparent;
        .info {
            background: #fff;
        }
    }
}

a {
    color: black;
}

.color-inherit {
    color: inherit;
}

.main-content {
    min-height: 100vh;
}

.info {
    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
    }

    .location,
    .description {
        font-size: medium;
        font-weight: 400;
    }

    .dates {
        font-size: small;
        color: #404040;
    }

    .social-link {
        display: flex;
        margin-top: 10px;

        i.fab,
        i.fas,
        i.far {
            padding: 0px;
            text-align: center;
            text-decoration: none;
            border-: 50%;
            transition:radius all 0.2s ease-in-out;

            &:hover {
                opacity: 0.5;
                transform: scale(1.1);
            }
        }

        .linkedin {
            margin-left: 10px;
        }

        .github {
            margin-left: 10px;
        }

        .resume {
            margin-left: 10px;
        }

        .twitter {
            .fa-twitter {
                background: #32ccfe;
                color: white;
                padding: 4px;
            }
        }

        .linkedin {
            .fa-linkedin {
                background: #0a66c2;
                color: white;
                padding: 4px;
            }
        }

        .github {
            .fa-github {
                background: rgb(44, 44, 44);
                color: white;
                padding: 4px;
            }
        }

        .resume {
            .fa-file-alt {
                padding: 4px;
                transform: scale(1.2);
            }
        }
    }

    .stats-container {
        display: flex;
        justify-content: space-between;
        .stats {
            font-size: 16px;
            font-weight: 700;
            margin: 6px 6px 6px 0;

            .stats-content {
                color: #0a66c2;
            }

            .count {
                color: #000;
            }
        }
    }
}

.darkgithub{
    padding: 14px; 
    margin-top: 1px;
    transform: scale(1.2);
}


.darkresume{
    color: white;
    margin-top: 1px;
}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}


.map-container {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    border-radius: 0.4rem;
    margin: auto;

    #map {
        aspect-ratio: 1.5;
        width: 100%;
    }

    #add-my-pin {
        width: 100%;
        height: 2em;
    }
}


.marker {
    size: 100% !important;
    border-radius: 0%;
    border: 0px solid black
}

/*body {
  font-family: Arial, san serif;
  font-size: 14px;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: #eee;
}*/

.dropdown {
  position: relative;
}

a {
  color: #fff;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #333;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown dt a {
  background-color: #fff;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 272px;
}

.dropdown dt p {
  margin: 0;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 4px;
}

.dropdown dd ul {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  color: #333;
  display: none;
  left: 0px;
  padding: 0px;
  top: 2px;
  list-style: none;
  max-height: 200px;
  overflow: auto;
}

.dropdown dd li {
  padding: 8px 5px ;
}

.dropdown dd li input{
  margin: 5px;
}

label {
  color: black;
  display: inline-block;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

.truck-button {
    --color: #fff;
    --background: #2B3044;
    --tick: #16BF78;
    --base: #0D0F18;
    --wheel: #2B3044;
    --wheel-inner: #646B8C;
    --wheel-dot: #fff;
    --back: #6D58FF;
    --back-inner: #362A89;
    --back-inner-shadow: #2D246B;
    --front: #A6ACCD;
    --front-shadow: #535A79;
    --front-light: #FFF8B1;
    --window: #2B3044;
    --window-shadow: #404660;
    --street: #646B8C;
    --street-fill: #404660;
    --box: #DCB97A;
    --box-shadow: #B89B66;
    padding: 12px 0;
    width: 172px;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    color: var(--color);
    background: var(--background);
    border-radius: var(--br, 5px);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transform-style: preserve-3d;
    transform: rotateX(var(--rx, 0deg)) translateZ(0);
    transition: transform 0.5s, border-radius 0.3s linear var(--br-d, 0s);
}

.truck-button:before, .truck-button:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 6px;
    display: block;
    background: var(--b, var(--street));
    transform-origin: 0 100%;
    transform: rotateX(90deg) scaleX(var(--sy, 1));
}

.truck-button:after {
    --sy: var(--progress, 0);
    --b: var(--street-fill);
}

.truck-button .default,
  .truck-button .success {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    opacity: var(--o, 1);
    transition: opacity .3s;
}

.truck-button .success {
    --o: 0;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
}

.truck-button .success svg {
    width: 12px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 7px 0 0 4px;
    stroke: var(--tick);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--offset, 16px);
    transition: stroke-dashoffset .4s ease .45s;
}

.truck-button .truck {
    position: absolute;
    width: 72px;
    height: 28px;
    transform: rotateX(90deg) translate3d(var(--truck-x, 4px), calc(var(--truck-y-n, -26) * 1px), 12px);
}

.truck-button .truck:before, .truck-button .truck:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: var(--l, 18px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: inset 0 0 0 2px var(--wheel), inset 0 0 0 4px var(--wheel-inner);
    background: var(--wheel-dot);
    transform: translateY(calc(var(--truck-y) * -1px)) translateZ(0);
}

.truck-button .truck:after {
    --l: 54px;
}

.truck-button .truck .wheel,
    .truck-button .truck .wheel:before {
    position: absolute;
    bottom: var(--b, -6px);
    left: var(--l, 6px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--wheel);
    transform: translateZ(0);
}

.truck-button .truck .wheel {
    transform: translateY(calc(var(--truck-y) * -1px)) translateZ(0);
}

.truck-button .truck .wheel:before {
    --l: 35px;
    --b: 0;
    content: '';
}

.truck-button .truck .front,
    .truck-button .truck .back,
    .truck-button .truck .box {
    position: absolute;
}

.truck-button .truck .back {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 47px;
    height: 28px;
    border-radius: 1px 1px 0 0;
    background: linear-gradient(68deg, var(--back-inner) 0%, var(--back-inner) 22%, var(--back-inner-shadow) 22.1%, var(--back-inner-shadow) 100%);
}

.truck-button .truck .back:before, .truck-button .truck .back:after {
    content: '';
    position: absolute;
}

.truck-button .truck .back:before {
    left: 11px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 0 1px 0 0;
    background: var(--back);
}

.truck-button .truck .back:after {
    border-radius: 1px;
    width: 73px;
    height: 2px;
    left: -1px;
    bottom: -2px;
    background: var(--base);
}

.truck-button .truck .front {
    left: 47px;
    bottom: -1px;
    height: 22px;
    width: 24px;
    -webkit-clip-path: polygon(55% 0, 72% 44%, 100% 58%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(55% 0, 72% 44%, 100% 58%, 100% 100%, 0 100%, 0 0);
    background: linear-gradient(84deg, var(--front-shadow) 0%, var(--front-shadow) 10%, var(--front) 12%, var(--front) 100%);
}

.truck-button .truck .front:before, .truck-button .truck .front:after {
    content: '';
    position: absolute;
}

.truck-button .truck .front:before {
    width: 7px;
    height: 8px;
    background: #fff;
    left: 7px;
    top: 2px;
    -webkit-clip-path: polygon(0 0, 60% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 60% 0%, 100% 100%, 0% 100%);
    background: linear-gradient(59deg, var(--window) 0%, var(--window) 57%, var(--window-shadow) 55%, var(--window-shadow) 100%);
}

.truck-button .truck .front:after {
    width: 3px;
    height: 2px;
    right: 0;
    bottom: 3px;
    background: var(--front-light);
}

.truck-button .truck .box {
    width: 13px;
    height: 13px;
    right: 56px;
    bottom: 0;
    z-index: 1;
    border-radius: 1px;
    overflow: hidden;
    transform: translate(calc(var(--box-x, -24) * 1px), calc(var(--box-y, -6) * 1px)) scale(var(--box-s, 0.5));
    opacity: var(--box-o, 0);
    background: linear-gradient(68deg, var(--box) 0%, var(--box) 50%, var(--box-shadow) 50.2%, var(--box-shadow) 100%);
    background-size: 250% 100%;
    background-position-x: calc(var(--bx, 0) * 1%);
}

.truck-button .truck .box:before, .truck-button .truck .box:after {
    content: '';
    position: absolute;
}

.truck-button .truck .box:before {
    content: '';
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    right: 0;
    top: 6px;
    height: 1px;
}

.truck-button .truck .box:after {
    width: 6px;
    left: 100%;
    top: 0;
    bottom: 0;
    background: var(--back);
    transform: translateX(calc(var(--hx, 0) * 1px));
}

.truck-button.animation {
    --rx: -90deg;
    --br: 0;
}

.truck-button.animation .default {
    --o: 0;
}

.truck-button.animation.done {
    --rx: 0deg;
    --br: 5px;
    --br-d: .2s;
}

.truck-button.animation.done .success {
    --o: 1;
    --offset: 0;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}

body .dribbble img {
    display: block;
    height: 28px;
}

body .twitter {
    position: fixed;
    display: block;
    right: 64px;
    bottom: 14px;
}

body .twitter svg {
    width: 32px;
    height: 32px;
    fill: #1da1f2;
}


.box {
  width: 40%;
  margin: 0 auto;
  background: #0d6efd;
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #0d6efd;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.dfooter {
background-color:#ADFF2F; 
}
.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.8;
    font-size:20px;
    color:#7FFF00;
    margin-bottom:0;
  }
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  .gpic{
    border-radius: 50%; 
    width: 100px;
    height: 100px;
  }
  .temp{
      right:0%
  }
  
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}